@model Test.Models.Product
@{
    ViewBag.Title = "Test";
}

@using (Html.BeginForm("ValidateCommand", "PayPal", new { productTitle = Model.Title, amount = Model.Price}))
{ 
        <p id="btnCarrito" class="btn btn-success">
            @Html.ActionLink("Agregar al Carrito", "AddToCart", "ShoppingCart", new { id = Model.ProductID }, "")
        </p>
}
