@{
    ViewBag.Title = "D´ Compras NET";
}

            <div id="myCarousel" class="carousel slide">
                <div id="indicators">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                </div>
                <!-- Carousel items -->
                <div class="carousel-inner navbar" id="slider">
                    <div class="item active">
                        <img src="Images/image1.jpg" alt="">
                            <div class="carousel-caption">
                                <h4>First Slide</h4>
                                <p>esto es muy interesante, ..</p>
                            </div>
                    </div>
            
                    <div class="item">
                        <img src="Images/image2.jpg" alt="banner2" >
                            <div class="carousel-caption">
                                <h4>Encabezado</h4>
                                <p>Aprovecha las oportunidades</p>
                            </div>
                    </div>

                    <div class="item">
                        <img src="Images/image3.jpg" />
                            <div class="carousel-caption">
                                <h2>Hola</h2>
                                <p>Hola k ase</p>
                            </div>
                    </div>

                    <div class="item">
                        <img src="Images/Geo_HP_W30_980x270_PayPal_7_20_2012_11_50_01_585.jpg" />
                        <div class="carousel-caption">
                            <h3>Esatmos en esto..</h3>
                            <p>AHora mismo estamos en eso</p>
                        </div>
                    </div>

                </div>

                <!-- Carousel navigators-->
                <div id="carouselNavigators">
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>

    <div class="navbar" id="barraArticulos">
         <div class="navbar-inner" id="barraMuestra">
             <p class="brand" id="tituloBarra">Art&iacute;culos</p>
         </div>
    </div>

    <div id="divContenedor">
        <p>Mucho texto</p>
        <p>Mucho texto</p>
        <p>Mucho texto</p>
         <p>Mucho texto</p>
          <p>Mucho texto</p>
         <p>Mucho texto</p>
         <p>Mucho texto</p>  <p>Mucho texto</p>
         <p>Mucho texto</p>
         <p>Mucho texto</p>

         <p>Mucho texto</p>
         <p>Mucho texto</p>
         <p>Mucho texto</p>
         <p>Mucho texto</p>
         <p>Mucho texto</p>
    </div>
