@model List<Test.Models.Persona>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @foreach (var item in Model)
        { 
            <p>@item.Nombre</p>
            <p>@item.Apellido</p>
        }

        Server Time: @ViewBag.ServerTime
    </div>
</body>
</html>
